@page "/"

@inject IAuth0Management auth0Management

<PageTitle>Home</PageTitle>

<h1>Welcome to MyBlazorSaaS!</h1>

<p>
MyBlazorSaaS is a reference B2B SaaS application built using Blazor and Auth0.
</p>

@if (!string.IsNullOrWhiteSpace(OrganizationMessage)) {
  <div class="alert alert-success" role="alert">
    @OrganizationMessage
  </div>
}

<AuthorizeView Roles="admin">
    <Authorized>
      <div class="text-center">
        <a href="Dashboard">Manage your Organization</a>
      </div>
    </Authorized>
</AuthorizeView>

<div class="text-center">
  <div>
    <a href="https://a0.to/dotnet-templates/blazor-webapp"><img src="images/auth0-dotnet-ebook.png" alt=".NET Identity with Auth0"></a>
  </div>
</div>

@code {
  [CascadingParameter]
  private Task<AuthenticationState>? authenticationState { get; set; }
  private string OrganizationMessage = "";

  protected override async Task OnInitializedAsync()
  {
    if (authenticationState is not null)
    {
      var state = await authenticationState;

      if (state.User?.Identity?.IsAuthenticated??false)
      {
        var organizationId = state.User?.FindFirst(c => c.Type == "org_id")?.Value??String.Empty;
        if (!string.IsNullOrEmpty(organizationId))
        {
          var managementClient = await auth0Management.getClient();
          var organization = await managementClient.Organizations.GetAsync(organizationId);
          OrganizationMessage = $"You are authenticated in the Organization '{organization.DisplayName}'";
        }
      }
    }
  }
}


