@page "/"

<PageTitle>Home</PageTitle>

<h1>Welcome to MyBlazorSaaS!</h1>

<p>
MyBlazorSaaS is a reference B2B SaaS application built using Blazor and Auth0.
</p>

<div class="text-center">
  <div>
    <a href="https://a0.to/dotnet-templates/blazor-webapp"><img src="images/auth0-dotnet-ebook.png" alt=".NET Identity with Auth0"></a>
  </div>
</div>


